USE [master]
GO
/****** Object:  Database [myKitchen3]    Script Date: 19/01/2023 12:42:07 ******/
CREATE DATABASE [myKitchen3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'myKitchen3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\myKitchen3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'myKitchen3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\myKitchen3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [myKitchen3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [myKitchen3]
GO
/****** Object:  Table [dbo].[ingredients]    Script Date: 19/01/2023 12:42:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingredients](
	[IngredientId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[image] [text] NOT NULL,
	[calories] [int] NOT NULL,
 CONSTRAINT [PK__ingredients] PRIMARY KEY CLUSTERED 
(
	[IngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingredientsInRecipes]    Script Date: 19/01/2023 12:42:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingredientsInRecipes](
	[recipeID] [int] NOT NULL,
	[ingredientID] [int] NOT NULL,
 CONSTRAINT [PK_ingredientsInRecipes] PRIMARY KEY CLUSTERED 
(
	[recipeID] ASC,
	[ingredientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipes]    Script Date: 19/01/2023 12:42:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipes](
	[recipeId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[image] [text] NOT NULL,
	[cookingMethod] [nvarchar](max) NOT NULL,
	[time] [nchar](10) NOT NULL,
 CONSTRAINT [PK__recipes] PRIMARY KEY CLUSTERED 
(
	[recipeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ingredients] ON 

INSERT [dbo].[ingredients] ([IngredientId], [name], [image], [calories]) VALUES (1, N'broccoli', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBf0jlvrioFYEaFhpmr-AUsk6uL2YvS2vUT8Fme9BHnA&s', 20)
INSERT [dbo].[ingredients] ([IngredientId], [name], [image], [calories]) VALUES (2, N'tomato', N'https://media.istockphoto.com/id/466175630/photo/tomato-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=ELzCVzaiRMgiO7A5zQLkuws0N_lvPxrgJWPn7C7BXz0=', 13)
INSERT [dbo].[ingredients] ([IngredientId], [name], [image], [calories]) VALUES (3, N'pasta', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3xseU9_o9gHl9yhkbLoO333WgilUwETU9tw&usqp=CAU', 180)
SET IDENTITY_INSERT [dbo].[ingredients] OFF
GO
INSERT [dbo].[ingredientsInRecipes] ([recipeID], [ingredientID]) VALUES (26, 45)
GO
SET IDENTITY_INSERT [dbo].[recipes] ON 

INSERT [dbo].[recipes] ([recipeId], [name], [image], [cookingMethod], [time]) VALUES (1, N'red pasta', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1etkmzZ2WuDN3qC1IVUpq25-09NZCelRFkw&usqp=CAU', N'boil the pasta in hot water, cat tomatos, and cook', N'1 hour    ')
INSERT [dbo].[recipes] ([recipeId], [name], [image], [cookingMethod], [time]) VALUES (2, N'green pasta', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROp44m-D-iCUxDFKCUfmUxYnHt1DR8fH8-dw&usqp=CAU', N'boil the pasta in hot water, cut brocoli, and cook', N'1 hour    ')
INSERT [dbo].[recipes] ([recipeId], [name], [image], [cookingMethod], [time]) VALUES (3, N'hot corn', N'https://img.freepik.com/premium-vector/sweet-organic-corncob-3d-illustration-white-background_317810-2331.jpg?w=2000', N'hot water', N'1 hour    ')
SET IDENTITY_INSERT [dbo].[recipes] OFF
GO
ALTER TABLE [dbo].[ingredientsInRecipes]  WITH CHECK ADD  CONSTRAINT [FK_ingredientsInRecipes_ingredients] FOREIGN KEY([ingredientID])
REFERENCES [dbo].[ingredients] ([IngredientId])
GO
ALTER TABLE [dbo].[ingredientsInRecipes] CHECK CONSTRAINT [FK_ingredientsInRecipes_ingredients]
GO
ALTER TABLE [dbo].[ingredientsInRecipes]  WITH CHECK ADD  CONSTRAINT [FK_ingredientsInRecipes_recipes] FOREIGN KEY([recipeID])
REFERENCES [dbo].[recipes] ([recipeId])
GO
ALTER TABLE [dbo].[ingredientsInRecipes] CHECK CONSTRAINT [FK_ingredientsInRecipes_recipes]
GO
USE [master]
GO
